body{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #35374B;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
nav{
    h2{
        color: white;
        font-size: 50px;
        width: 55%;
        float: left;
        padding: 30px 35px ;
        font-family: 'Courier New', Courier, monospace;
    }
    ul {
        list-style-type: none;
    }
   
}


/* small Devices */
@media only screen and (max-width:789px){
    nav{
        h2{
            width: 100%;
            font-size: 50px;
            padding-top: 30px;
            padding-bottom: 10px;
            text-align: center;  
        }
        ul li{
            list-style-type: none;
        }
        ul li a:link,
        ul li a:visited{
            text-decoration: none;
            float: left;
            width: auto;
            position:static;
            color: aliceblue;
            padding: 10px 20px;
            transition: text-decoration 0.3s;
        } 
        ul li a:hover{
            text-decoration: 2px solid red underline;
            font-weight: 300;

        }
        
        }
        .form1{
            width: 100%;
            height: 120vh;
            position: absolute;
            margin-top: 70px;
        }
        .content{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            margin-left: 10px;
        }
        .content .container{
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: auto;
            height: 100%;
        }
    
        .todo{
            display: flext;
            padding: 14px;
            
        }
        .todoval{
            cursor:inherit;
            background:transparent;
            border: none;
            outline: none;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
            width: 300px;
            font-weight: bold;
            flex-grow: 1;
            border-bottom: 2px solid wheat;
            color: white;
        }
        .todocheck{
            cursor: inherit;
        }
        .todo:has(.todocheck:checked ){
            color:rgb(84,35,0);
            background:#1d1e2e;
            text-decoration: line-through 1.5px;
            order: 1;
        }
        .na{
            color: aliceblue;
            text-align: center;
            font-size: 40px;
            padding-top: -30px;
            padding-bottom: 40px;
            padding-left: 0px;
            margin-right: 50px;
            
            
        }
        

}



/* Large Screen */
@media only screen and (min-width:790px){
    ul li a:link,
    ul li a:visited {
        text-decoration: none;
        float: left;
        padding: 30px 20px;
        margin:20px;
        color: white;
        font-size: 20px;
        font-weight: 500;
        border-radius: 40%;
        transition: background-color 0.3s;
        cursor:inherit;
    }
    ul li a:hover{
        text-decoration: 2px solid red underline;
        padding: 20px;
    }
    
    .form1{
        width: 100%;
        height: 120vh;
        position: absolute;
    }
    .content{
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
    }
    .content .container{
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: auto;
        height: 100%;
    }

    .todo{
        display: flext;
        padding: 14px;

    }
    .todoval{
        cursor:inherit;
        background:transparent;
        border: none;
        outline: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        width: 350px;
        font-weight: bold;
        flex-grow: 1;
        border-bottom: 2px solid wheat;
        color: white;
    }
    .todocheck{
        cursor: inherit;
    }
    .todo:has(.todocheck:checked ){
        color:rgb(84,35,0);
        background:#1d1e2e;
        text-decoration: line-through 1.5px;
        order: 1;
    }
    .na{
        color: aliceblue;
        text-align: center;
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        padding-top: -30px;
        padding-bottom: 40px;
    }
    
    
    
    
}